.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(94, 145, 255);
  padding: 8px;
  border-radius: 40px;
}
.cart__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(94, 145, 255);
  margin-right: 20px;
}
.cart__info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  p {
    margin: 0 5px;
    color: rgb(94, 145, 255);
  }
}
